############
## YOURLS
############

# Configuration
*config.php
.htaccess
*.config
*.conf
[Rr]obots.txt

# Pages
pages/*
!pages/examplepage.php

############
## Tests
############

includes/**/tests/
build/
coverage/
phpunit.xml
tests/vendor/
tests/data/auth/config-test-auth-hashed.php
